{% extends 'base.html.twig' %}

{% block title %}Mon impact{% endblock %}

{% block body %}
    <h1>Mon impact</h1>
    <p>Cette page a ete deplacee.</p>
    <p><a href="{{ path('points_claim_index') }}">Aller vers mon espace impact</a></p>
{% endblock %}
