{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre{% endblock %}

{% block body %}
    <h1>Créer une offre</h1>

    {{ include('offer/_form.html.twig') }}

    <p><a href="{{ path('offer_index') }}">Retour à la liste</a></p>
{% endblock %}
