# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.cv_upload_dir: '%kernel.project_dir%/public/uploads/cv'
    app.application_attachment_dir: '%kernel.project_dir%/var/uploads/applications'
    app.points_claim_upload_dir: '%kernel.project_dir%/var/uploads/points-claims'
    app.mailer_from: 'no-reply@workplus.local'
    app.company_search_api_url: 'https://recherche-entreprises.api.gouv.fr/search'
    app.geo_api_url: 'https://geo.api.gouv.fr/communes'
    app.external_api_timeout_seconds: 2
    app.billing_provider: '%env(BILLING_PROVIDER)%'
    app.billing_webhook_tolerance_seconds: 300

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            string $cvUploadDir: '%app.cv_upload_dir%'
            string $applicationAttachmentDir: '%app.application_attachment_dir%'
            string $pointsClaimUploadDir: '%app.points_claim_upload_dir%'
            string $mailerFrom: '%app.mailer_from%'
            string $companySearchApiUrl: '%app.company_search_api_url%'
            string $geoApiUrl: '%app.geo_api_url%'
            int $externalApiTimeoutSeconds: '%app.external_api_timeout_seconds%'
            string $billingProvider: '%app.billing_provider%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\ImpactEvidenceProviderInterface: '@App\Service\PublicApiEvidenceService'

    App\Service\Billing\StripeCheckoutGateway:
        arguments:
            $stripeSecretKey: '%env(string:STRIPE_SECRET_KEY)%'
            $stripeWebhookSecret: '%env(string:STRIPE_WEBHOOK_SECRET)%'
            $webhookToleranceSeconds: '%app.billing_webhook_tolerance_seconds%'

    App\Service\Billing\BillingGatewayRegistry:
        arguments:
            $gateways:
                - '@App\Service\Billing\FakeCheckoutGateway'
                - '@App\Service\Billing\StripeCheckoutGateway'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
