{% extends 'base.html.twig' %}

{% block title %}Modifier l'entreprise{% endblock %}

{% block body %}
    <h1>Modifier l'entreprise</h1>

    {{ include('company/_form.html.twig', {button_label: 'Mettre à jour'}) }}

    <form method="post" action="{{ path('company_delete', {id: company.id}) }}" onsubmit="return confirm('Supprimer cette entreprise ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete_company_' ~ company.id) }}">
        <button class="btn">Supprimer</button>
    </form>

    <p><a href="{{ path('company_show', {id: company.id}) }}">Retour</a></p>
{% endblock %}
